@model Projeto.Web.Models.ClienteEdicaoViewModel
@{
    ViewBag.Title = "Edicao";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center">
        <h3 class="text-themecolor">Editar Clientes</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item">Cliente</li>
            <li class="breadcrumb-item active">Edicao</li>
        </ol>
    </div>
</div>


@using (Html.BeginForm(new { @class = "form-material m-t-40" }))
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Cadastro de Clientes</h4>
                    <h6 class="card-subtitle">
                        para cadastrar um clientes preencha os dados abaixo.
                    </h6>
                    <div class="form-horizontal form-material">
                        <div class="form-group hidden-md-down hidden-md-up">
                            @Html.LabelFor(model => model.IdCliente, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.IdCliente, new { htmlAttributes = new { @class = "form-control form-control-line", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DataCadastro, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group hidden-md-down hidden-md-up">
                            @Html.LabelFor(model => model.IdEndereco, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.IdEndereco, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.IdEndereco, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Atualizar Cliente</button>
                        </div>
                        <div class="col-sm-12">
                            @ViewBag.Mensagem
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
